---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}
{% block content %}

  # Очень длинный заголовок `<h1>`

  Имманентный подход подразумевает отношение к тексту как к автономной реальности, нацеленность на выявление его внутренней структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.

  ## Заголовок второго уровня `<h2>`

  Текст состоит из некоторого количества предложений. Одно предложение, даже очень распространённое, сложное, текстом [назвать нельзя](text-link), поскольку текст можно расчленить на самостоятельные предложения, а части предложения сочетаются по законам синтаксиса сложного предложения, но не текста.

  ### Делаем заголовки нарочито длинными

  Если за заголовком более низкого уровня сразу следует заголовок более высокого, это нарушает композиционную связность элементов оформления и логику повествования. Поэтому после заголовка должен следовать текст _(или иной контент)_, который этот заголовок и подчиненные ему **подзаголовки**, если они есть, озаглавливают.

  Списки бывают нумерованные и ненумерованые. Принципы их оформления одинаковы.

  * Если пункты списка длинные и представляют собой развернутые предложения,
  * Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).

  Cуществуют правила оформления списков:

  1. Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
  2. Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).

  {{ button('Текст большой кнопки по центру', 'https://sglazov.ru/') }}

{% endblock %}
