$bg-color:        #f1f6f7;
$color:           #000000;
$button-color:    #ffffff;
$brand-color:     #0054b9;
$font-family:     -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
$font-size:       16px;
