@charset "utf-8";

@import "variables.scss";         /* переменные */

.body,
body {
  Margin: 0;
  padding: 0;
  min-width: 300px;
  background-color: $bg-color;
}

@import "typo.scss";              /* типографика */
@import "layout.scss";            /* разметка письма */
@import "buttons.scss";           /* кнопки */
@import "content.scss";           /* стили контент-блоков */
